.portada {
    
    position: relative;
    top: -80px;
    z-index: -1;
    .infoportada {
        position: relative;
        top: -400px;
        left: 100px;
    }
    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 20px;
        button {
            cursor: pointer;
            width: 150px;
            height: 50px;
            gap: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            img {
                width: 40px;
                height: 40px;
            }
            p {
                padding-top: 10px;
                vertical-align: center;
                font-size: 18px;
                font-weight: bold;
            }

        }
        .buttonplay {
            background-color: whitesmoke;
        }
        .buttonmore {
            background-color: rgb(100, 99, 99);
        }
    }
    h1 {
        font-size: 60px;
    }
    

}